<h1>Cart</h1>

<div id="cart">
    {{#if posters.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each posters}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td><button class="btn btn-small js-remove" data-id="{{id}}">del</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p><strong>Total</strong><span class="price">{{price}}</span></p>

    {{else}}
    <p>Empty cart</p>
    {{/if}}
</div>